* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background: linear-gradient(rgb(15, 18, 40),rgba(15, 18, 30)) ;
    color: rgb(192, 192, 192,0.8);

    font-family: 'Saira Condensed', sans-serif;

    min-height: 100vh;
    padding-top: 50px;

    overflow-x: hidden;

    gap: 50px;
}

.body::-webkit-scrollbar {
    width: 10px;
    background: rgb(15, 18, 30);
}

.body::-webkit-scrollbar-thumb {
    background:linear-gradient(rgb(11, 21, 305),rgb(15, 20, 55)) ;
    border-radius: 5px;
}

.header {
    display: flex;
    align-items: center;
    justify-content:space-between;

    width: 90%;

    padding: 3px 10px;
}

.header-pai-list {
    width: 500px;
}

.header-list {
    display: flex;
    align-items: center;
    justify-content:space-between;

    list-style: none;
}

.header-footer-img {
    width: 35px;
    height: 50px;

    border-radius: 100%;
}

.img-nav-pages {
    width: 24px;
    height: 24px;
}


.footer {
    display: flex;
    align-items: center;
    justify-content:space-between;

    width: 100%;

    background: linear-gradient(rgb(91, 118, 150),rgba(15, 18, 30)) ;

    padding: 15px 80px;   
}

.footer-pai-list {
    display: flex;

    gap: 50px;
   
    
}

.footer-list {
    display: flex;
    align-items: center;
    justify-content:space-between;

    list-style: none;

    gap: 20px;
}

.footer-redes {
    display: flex;
    gap: 40px;
}

.footer-redes-img {
    width: 35px;
    height: 40px;
}

.section {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 35%;
    min-height: 300px;

    box-shadow: 2px 0px 0px  rgb(255, 255, 255,0.7);

    gap: 40px;
}

.titulo-resumo {
    box-shadow: 0px 1px 0px  rgb(255, 255, 255,0.7); 
    width: 55%;
}

.section-info {
   width: 50%;
   height: 450px;

   font-size: 20px;
}

.section-info-list {
    display: flex;
    justify-content: left;

    flex-direction: column;

    font-size: 22px;

    gap: 30px;

}

.color-black {
    color: black;
}

.color-white {
    color: white;
}

.link {
    display: flex;
    align-items: center;
    

    text-decoration: none;

    gap: 5px;
}

.color-page-atual {
    color: rgb(22, 22, 224);
}

.list-style-none{
    display: flex;
    flex-direction: column;
    gap: 10px;

    list-style: none;
}

.section-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background: linear-gradient(rgb(255, 252, 252),rgb(15, 18, 30)) ;

    font-size: 20px;

    width: 50px;
    height: 45%;

    position: fixed;
    top: 30%;
    left: 0;
   
    border-radius: 0px 5px 5px 0px;

    gap: 30px;

    list-style: none;
}

.section-list img {
    width: 25px;
    height: 25px;
}


.btns {
    all: unset;

    box-sizing: border-box;

   
    background-color:rgb(31, 92, 141);
    min-width: 150px;

    font-size: 16px;
    text-align: center;

    padding: 10px;

    border-radius: 2px;

    cursor: pointer;
}

.btns:hover{
    background-color:steelblue;
}

.link-projct, .link-videos {
    color:#fff;
    background-color: cornflowerblue;

    padding: 10px;
    min-width: 170px;

    border-radius: 5px;
}

.link-videos {
    position: absolute;
    bottom: 10px;
    left: 360px;
}
