
.conteiner {
    display: flex;
    width: 80%;
}

.section-informacoes {
    display: flex;
    flex-direction: column;
    
    box-shadow: 5px 5px 4px rgb(0, 0, 0,0.5);

    background-color: rgb(135, 206, 235, 0.1);

    border-radius: 5px;

    height: 130px;
    width: 300px;

    padding: 15px;

    gap: 10px;

}

.section-informacoes:hover{
    box-shadow: 8px 8px 4px rgb(0, 0, 0,0.5);

    background-color: rgb(135, 206, 235, 0.3);

    margin-right: 10px;
}

.section-img {
    box-shadow: 5px 5px 4px rgb(0, 0, 0,0.5);

    border-radius: 5px;

    width: 340px;
    height: 440px;

    margin-top: 10px;
}

.section-img:hover{
    box-shadow: 7px 7px 9px rgb(0, 0, 0,0.5);
    margin-right: 5px;
}

.titulo {
    display: flex;
    align-items: flex-end;

    height: 500px;
    width: 75%;

    background-image: url('../../assets/associados1.jpg');
    background-repeat: no-repeat;
    background-size: cover;

    color: #fff;

    font-size: 24px;

    margin-bottom: 100px;
}

.titulo h1 {
    background-color: #fff;
    color: black;
    width: 40%;
} 

.btns {
    all: unset;

    box-sizing: border-box;

   
    background-color:rgb(31, 92, 141);
    min-width: 200px;

    font-size: 16px;
    text-align: center;

    padding: 10px;

    border-radius: 2px;

    cursor: pointer;
}

.btns:hover{
    background-color:steelblue;
}

.titulo-sobre-mim {
    font-size: 42px;
    color:slategray;
}

.section-list {
    display: flex;
    flex-direction: column;

    gap: 20px;

    list-style: none;
}

.section-list > * {
    width: 300px;
    
}